  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">News</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Lastest News</a>
      <a class="mdl-navigation__link" href="">Saved Articles</a>
      <a class="mdl-navigation__link" href="">Notes</a>
      <a class="mdl-navigation__link" href="">Login</a>
    </nav>
  </div>