<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
      alt="">
    Canana Latest News
  </a>

  <form class="form-inline my-2 my-lg-0">
   <div class="input-group">
  <select class="custom-select" id="institution-input" aria-label="Example select with button addon">
       <option value="" selected>Select an Institution</option>
        <option value="aboriginalbusiness">Aboriginal Business Canada</option>
        <option value="administrativetribunalssupportservice">Administrative Tribunals Support Service of Canada</option>
        <option value="advisorypanelresponsibleconductresearch">Advisory Panel on Responsible Conduct of Research</option>
        <option value="agricultureagrifood">Agriculture and Agri-Food Canada</option>
        <option value="atlanticcanadaopportunities">Atlantic Canada Opportunities 
        
        Agency</option>
        <option value="bedfordinstituteoceanography">Bedford Institute of Oceanography</option>
        <option value="agriculturalreviewtribunal">Canada Agricultural Review Tribunal</option>
        <option value="canadaborderservicesagency">Canada Border Services Agency</option>
        <option value="centreinlandwaters">Canada Centre for Inland Waters</option>
        <option value="economicdevelopmentquebecregions">Canada Economic Development for Quebec Regions</option>
        <option value="canadaemploymentinsurancecommission">Canada Employment Insurance Commission</option>
        <option value="excellenceresearchchairs">Canada Excellence Research Chairs</option>
        <option value="firearmscentre">Canada Firearms Centre</option>
        <option value="canadaindustrialrelationsboard">Canada Industrial Relations Board</option>
        <option value="canadainfrastructurebank">Canada Infrastructure Bank</option>
        <option value="researchchairs">Canada Research Chairs</option>
        <option value="revenueagency">Canada 
        
        Revenue Agency</option>
        <option value="schoolpublicservice">Canada School of Public Service</option>
        <option value="oilsandsenvironmentalmonitoring">Canada-Alberta Oil Sands Environmental Monitoring</option>
        <option value="army">Canadian Army</option>
        <option value="centrehousingtechnology">Canadian Centre for Housing Technology</option>
        <option value="canadiancentreforoccupationalhealthandsafety">Canadian Centre for Occupational Health and Safety</option>
        <option value="canadiancoastguard">Canadian Coast Guard</option>
        <option value="canadiancommercialcorporation">Canadian Commercial Corporation</option>
        <option value="conservationinstitute">Canadian Conservation Institute</option>
        <option value="culturalpropertyexportreview">Canadian Cultural Property Export Review Board</option>
        <option value="dairyinformationcentre">Canadian Dairy Information Centre (CDIC)</option>
        <option value="environmentalassessmentagency">Canadian Environmental Assessment Agency</option>
        <option value="foodinspectionagency">Canadian Food Inspection Agency</option>
        <option value="graincommission">Canadian Grain Commission</option>
        <option value="canadianheritage">Canadian Heritage</option>
        <option value="heritagenetwork">Canadian Heritage Information Network</option>
        <option value="humanrightscommission">Canadian Human Rights Commission</option>
        <option value="instituteshealthresearch">Canadian Institutes of Health Research</option>
        <option value="intellectualpropertyoffice">Canadian Intellectual Property Office</option>
        <option value="canadianintergovernmentalconferencesecretariat">Canadian 
        
        Intergovernmental Conference Secretariat</option>
        <option value="canadianinternationaltradetribunal">Canadian International Trade Tribunal</option>
        <option value="canadiannortherneconomicdevelopmentagency">Canadian Northern Economic Development 
        
        Agency</option>
        <option value="canadiannuclearsafetycommission">Canadian Nuclear Safety Commission</option>
        <option value="parimutuelagency">Canadian Pari-Mutuel Agency</option>
        <option value="canadianradiotelevisionandtelecommunicationscommission">Canadian Radio-television and Telecommunications Commission</option>
        <option value="canadiansecurityintelligenceservice">Canadian Security Intelligence Service</option>
        <option value="spaceagency">Canadian Space Agency</option>
        <option value="specialoperationsforcescommand">Canadian Special Operations Forces Command</option>
        <option value="transportationagency">Canadian Transportation Agency</option>
        <option value="centralinnovationhub">Central Innovation Hub</option>
        <option value="civilianreviewcomplaintsrcmp">Civilian Review and Complaints Commission for the RCMP</option>
        <option value="statusendangeredwildlife">Committee on the status of Endangered 
        
        Wildlife</option>
        <option value="communicationsresearchcentre">Communications Research Centre Canada</option>
        <option value="communicationssecurity">Communications Security Establishment Canada</option>
        <option value="competitionbureau">Competition Bureau Canada</option>
        <option value="competitiontribunal">Competition Tribunal</option>
        <option value="copyrightboard">Copyright Board Canada</option>
        <option value="correctionalservice">Correctional Service Canada</option>
       <option value="crownindigenousrelationsandnorthernaffairscanada">Crown-Indigenous Relations and Northern Affairs Canada </option>
        <option value="criminalintelligenceservice">Criminal Intelligence Service Canada</option>
        <option value="defenceresearchdevelopment">Defence Research and Development Canada</option>
        <option value="democraticinstitutions">Democratic Institutions</option>
        <option value="departmentfinance">Department of Finance Canada</option>
        <option value="departmentjustice">Department of Justice Canada</option>
        <option value="educanada">Education in Canada</option>
        <option value="departmentofemploymentandsocialdevelopment">Employment and Social Development Canada</option>
        <option value="departmentoftheenvironment">Environment and Climate Change 
        
        Canada</option>
        <option value="environmentalprotectionreview">Environmental Protection Review Canada</option>
        <option value="farmproductscouncil">Farm Products Council of Canada</option>
        <option value="fednor">FedNor</option>
        <option value="economicdevelopmentsouthernontario">Federal Economic Development Agency for Southern Ontario</option>
        <option value="financialconsumeragency">Financial Consumer Agency of Canada</option>
        <option value="financialtransactionsreportsanalysis">Financial Transactions and Reports Analysis Centre of Canada</option>
        <option value="fisheriesoceans">Fisheries and Oceans Canada</option>
        <option value="geographicalnamesboard">Geographical Names Board of 
        
        Canada</option>
        <option value="geologicalsurvey">Geological Survey of Canada</option>
        <option value="geomaticscanada">Geomatics Canada</option>
        <option value="departmentofforeignaffairstradeanddevelopment">Global Affairs 
        
        Canada</option>
        <option value="departmentofhealth">Health Canada</option>
        <option value="historicsitesmonuments">Historic Sites and Monuments Board of Canada</option>
        <option value="canadianhumanrightstribunal">Human Rights 
        
        Tribunal of Canada</option>
        <option value="immigrationrefugee">Immigration and Refugee Board of Canada</option>
        <option value="departmentofcitizenshipandimmigration">Immigration, Refugees and Citizenship Canada</option>
        <option value="independentreviewpaneldefenceacquisition">Independent Review Panel for Defence Acquisition</option>
        <option value="indianoilgas">Indian Oil and Gas</option>
        <option value="departmentofindianaffairsandnortherndevelopment">Indigenous and Northern Affairs 
        
        Canada</option>
        <option value="indigenousservicescanada">Indigenous Services Canada</option>
        <option value="industrialtechnologies">Industrial Technologies Office</option>
        <option value="officeinfrastructure">Infrastructure Canada</option>
        <option value="departmentofindustry">Innovation, Science and Economic 
        
        Development Canada</option>
        <option value="integratedterrorismassessmentcentre">Integrated Terrorism Assessment Centre</option>
        <option value="interagencyadvisorypanelresearchethics">Interagency Advisory Panel on Research Ethics</option>
        <option value="intergovernmentalaffairs">Intergovernmental Affairs</option>
        <option value="judicialcompensationandbenefitscommission">Judicial Compensation and Benefits Commission</option>
        <option value="labourprogram">Labour Program</option>
        <option value="governmenthouseleader">Leader of the Government in the House of Commons</option>
        <option value="libraryarchives">Library and Archives Canada</option>
        <option value="marinesecurityoperationscentresproject">Marine 
        
        Security Operations Centres Project</option>
        <option value="measurementcanada">Measurement Canada</option>
        <option value="militarygrievancesexternalreview">Military Grievances External Review Committee</option>
        <option value="militarypolicecomplaints">Military Police Complaints Commission of Canada</option>
        <option value="departmentnationaldefense">National Defence</option>
        <option value="nationalenergyboard">National Energy Board</option>
        <option value="nationalfilmboard">National Film Board</option>
        <option value="nationalresearchcouncil">National Research Council Canada</option>
        <option value="nationalseniorscouncil">National Seniors Council</option>
        <option value="naturalresourcescanada">Natural Resources Canada</option>
        <option value="sciencesengineeringresearch">Natural Sciences and Engineering Research Council</option>
        <option value="networkscentresexcellence">Networks of Centres of Excellence of Canada</option>
        <option value="northernpipelineagency">Northern Pipeline Agency Canada</option>
        <option value="occupationalhealthsafetytribunal">Occupational Health and Safety Tribunal Canada</option>
        <option value="officeofthechiefmilitaryjudge">Office of the Chief Military Judge</option>
        <option value="officeofthecommissionerforfederaljudicialaffairs">Office of the Commissioner for Federal Judicial Affairs Canada</option>
        <option value="officecommunicationssecurityestablishmentcommissioner">Office of the Communications Security Establishment Commissioner</option>
        <option value="extractivesectorcorporatesocialresponsibilitycounsellor">Office of the Extractive Sector Corporate Social Responsibility Counsellor</option>
        <option value="ombudsmanvictimscrime">Office of the Federal Ombudsman for Victims of Crime</option>
        <option value="ombudspersonnationaldefenceforces">Office of the Ombudsperson for the Department of National Defence and the Canadian Forces</option>
        <option value="procurementombudsman">Office of the Procurement Ombudsman</option>
        <option value="superintendentbankruptcy">Office of the Superintendent of Bankruptcy Canada</option>
        <option value="superintendentfinancialinstitutions">Office of the Superintendent of Financial Institutions Canada</option>
        <option value="taxpayersombudsman">Office of the Taxpayers' Ombudsman</option>
        <option value="veteransombudsman">Office of the Veterans' 
        
        Ombudsman</option>
        <option value="pppcanada">PPP Canada</option>
        <option value="parkscanada">Parks Canada</option>
        <option value="paroleboard">Parole Board of Canada</option>
        <option value="patentedmedicinepricesreviewboard">Patented Medicine Prices Review 
        
        Board Canada</option>
        <option value="physicalresourcesbureau">Physical Resources Bureau</option>
        <option value="polarknowledge">Polar Knowledge Canada</option>
        <option value="privycouncil">Privy Council Office</option>
        <option value="publichealthagencyofcanada">Public Health Agency of Canada</option>
        <option value="publicprosecution">Public Prosecution Service of Canada</option>
        <option value="publicsafetycanada">Public Safety Canada</option>
        <option value="publicservantsdisclosureprotectiontribunal">Public Servants Disclosure Protection Tribunal Canada</option>
        <option value="publicservicecommission">Public Service Commission of Canada</option>
        <option value="publicservicelabourrelationsandemploymentboard">Public Service Labour Relations and Employment Board</option>
        <option value="departmentofpublicworksandgovernmentservices">Public Services and Procurement Canada</option>
        <option value="rcmpexternalreviewcommittee">RCMP External Review Committee</option>
        <option value="registryofthespecificclaimstribunal">Registry of the Specific Claims Tribunal of Canada</option>
        <option value="royalairforce">Royal Canadian Air Force</option>
        <option value="royalmountedpolice">Royal Canadian Mounted Police</option>
        <option value="royalnavy">Royal Canadian Navy</option>
        <option value="securityintelligencereviewcommittee">Security Intelligence Review Committee</option>
        <option value="servicecanada">Service Canada</option>
        <option value="sharedservices">Shared Services Canada</option>
        <option value="socialscienceshumanitiesresearch">Social Sciences and Humanities Research Council of Canada</option>
        <option value="socialsecuritytribunal">Social Security Tribunal of Canada</option>
        <option value="statisticscanada">Statistics Canada</option>
        <option value="statuswomen">Status of Women Canada</option>
        <option value="shellfishsanitation">The Canadian Shellfish Sanitation Program</option>
        <option value="officeofthecorrectionalinvestigatorofcanada">The Correctional Investigator 
        
        Canada</option>
        <option value="nationalbattlefieldscommission">The National Battlefields Commission</option>
        <option value="ontarioquebeccontinentalgateway">The Ontario-Quebec Continental Gateway</option>
        <option value="translationbureau">Translation Bureau</option>
        <option value="departmentoftransport">Transport Canada</option>
        <option value="transportationappealtribunalofcanada">Transportation Appeal Tribunal of Canada</option>
        <option value="canadiantransportationaccidentinvestigationandsafetyboard">Transportation Safety Board of Canada</option>
        <option value="treasuryboardsecretariat">Treasury Board of Canada Secretariat</option>
        <option value="veteransaffairscanada">Veterans Affairs 
        
        Canada</option>
        <option value="veteransreviewappealboard">Veterans Review and Appeal Board</option>
        <option value="westerneconomicdiversification">Western Economic Diversification Canada</option>

        <option value="youth">Youth</option>
     
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit" id="btn-request-news">Go</button>
  </div>
  </form>
</nav>