<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#" id="latest-articles">Latest News</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" id="viewed-articles">Viewed Articles</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Favourited Articles</a>
  </li>
</ul>