{{> header}}
{{> nav}}

<div class="container">
<h5>Latest News</h5>
<ul class="list-unstyled">
  <li class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><a href='#'>List-based media object</a></h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
</ul>

<div class="lastest-news">
    <ul class="news-list list-unstyled">

    </ul>

</div>

</div>